
/* Định nghĩa biến SCSS */
$font-primary: 'Gilroy', sans-serif;
$font-secondary: 'Andada Pro', serif;

/* Áp dụng vào body và heading */
body {
    font-family: $font-primary;
    font-weight: 400;
}

h1, h2 {
    font-family: $font-primary;
}
