/* Desktop (≥ 1024px) */
@media (min-width: 1024px) {
  

    header.site-header {
        display: block;
        min-height: 112px;
        .wrapper_header {
          max-height: 100%;
          padding-top: 25px;
          padding-bottom: 25px;
          .inner_wrapper_header {
          
            a.languages ,  .button_header{
              display: flex;
            }
          }
          .logo_custom{
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            margin: 0 auto;
            max-width: 180px;
            max-height: 72px;
          }
        }
      }

      a.button_check {
        display: none ;
       }


      //  .item_onlyImage_Page {
      //   .wrapper_ctrl_ {
      //     position: relative;
      //     width: 100%;
      //       .nav-button {
      //         bottom: 1rem ;
      //         position: absolute;
          
      //         &.prev {
      //           left: 1rem;
      //         }
      //         &.next {
      //           right: 1rem;
      
      //         }
      //       } 
      //   }
      //   .pagination_handle {
      //     bottom: 38px !important;
      //     gap: 4px !important;
      //   }
      // }
   
}

@media (min-width: 1140px) {
  .item_rooms.wrapper_ctrl {
    z-index: 5;
    position: absolute;
    bottom: 16px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 52px;
    max-width: 336px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  
    .nav-button {
      position: absolute;
      bottom: 16px;
      background: rgba(255, 255, 255, .4);
      border: none;
      width: 52px;
      height: 52px;
      padding: 14px;
      border-radius: 50%;
      cursor: pointer;
      font-size: 1.2rem;
      z-index: 2;
      transition: all .3s ease-in-out;
      bottom: 0px;
   
      &.prev {
        left: 0% !important;
        // transform: translateX(50%);
      }
      &.next {
        right: 0% !important;
        // transform: translateX(50%);
  
      }
    }
  }
  


  .item_onlyImage_Page {
    .item_rooms.wrapper_button_pagination {
      .pagination_handle {
        bottom: 50%;
        transform: translate(-50%, 50%)
      }
      z-index: 5;
      position: absolute;
      bottom: 24px;
      left: 50%;
      transform: translateX(-50%);
      width: 100%;
      height: 52px;
      max-width: 336px;
      display: flex;
      flex-direction: row;
      justify-content: center;
    
      .nav-button {
        position: absolute;
        bottom: 16px;
        background: rgba(255, 255, 255, .4);
        border: none;
        width: 52px;
        height: 52px;
        padding: 14px;
        border-radius: 50%;
        cursor: pointer;
        font-size: 1.2rem;
        z-index: 2;
        transition: all .3s ease-in-out;
        bottom: 0px;
     
        &.prev {
          left: 0% !important;
        }
        &.next {
          right: 0% !important;
    
        }

      
      }
    }
  
  }
  
  .ss_room_include {
    margin: 163px 0px !important;
    .list_include {
      .wrapper_include {
        flex-direction: row;
        min-height: auto;
        padding: 36px 92px;

        align-items: center;
  
        .title_sub {
          h3 {
            margin-bottom: 12px;
          }
        
        }
  
        p {
          font-family: Gilroy;
          font-weight: 500;
          font-size: 20px;
          line-height: 130%;
          letter-spacing: 1.25px;
        }
    
        .list_inc_text {
          row-gap: 16px;
          flex-direction: row;
          .col_left, .col_right {
            display: flex;
            flex-direction: column;
            row-gap: 16px;
            width: 365px;
          }
          p.include_text {
            line-height: 140%;
            letter-spacing: 1.25px;
          }
  
        }

        .others {
          
          .list_inc_text {
            text-align: center;
            row-gap: 16px;
            width: 777px;
          }
        }
      }
    }
    
  }
  .container_facilities {
    .list_facilities {
      .room-box {
        .slider {
          height: 700px !important;
        }
      }
      .group_info {
        .list_info {
          p {
            margin-bottom: 20px !important;
          }
        }
      }
    }
  }
}


@media (min-width: 1312px) {
  .container_dining {
    max-width: 1512px !important;
    padding-left: 32px;
    padding-right: 56px;
  }

  .container_features {
    max-width: 1380px !important;
    padding-left: 0px;
    padding-right: 0px;
  }

  .container_gift {
    max-width: 1512px !important;
    padding-left: 32px !important;
    padding-right: 100px !important;
  }
  .wh_1000_750 {
    width: 1000px !important;
    height: 750px !important;
  }
  .wh_1000_700 {
    width: 1000px !important;
    height: 700px !important;

    .slider {
      width: inherit;
    }
  }


  // .wrapper_button_pagination {

  //   .item_onlyImage_Page {
  //     .nav-button {
  //       bottom: 24px ;
     
  //       &.prev {
  //         left: 330px !important;
  //       }
  //       &.next {
  //         right: 330px !important;
  
  //       }
  //     }
  
  //     .pagination_handle {
  //       bottom: 46px !important;
  //       gap: 4px !important;
  //     }
  // }
  // }

}
@media (min-width: 1360px) {
  .page_rooms  {
    .heading_address {
      row-gap: 42px;
      margin-bottom: 150px;
    
        p {
            max-width: 954px;
            margin-top: 0px;
              }
          }
    
          .amennities {
            display: flex;
            flex-direction: column;       
          }
    }
    
}
