@media (min-width: 650px) {
  .ctn_ig {
    margin-top: 130px;
  }
}
@media (min-width: 768px) {

  .section_general {
    margin: 150px 0px;
 }

 .ctn_ig {
  margin-top: 0px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -70%);
  width: auto;
 }

 .hashtag {
  gap: 72px;
 }
.ss_gallery_home {
  margin-bottom: 270px;
}
 .ss_info {
  margin-top: 110px;
 }
  
     header.site-header {
      display: block;
      min-height: 112px;
      .wrapper_header {
        max-height: 100%;
        padding-top: 25px;
        padding-bottom: 25px;
        .inner_wrapper_header {
        }
        .logo_custom{
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
          margin: 0 auto;
          max-width: 180px;
          max-height: 72px;
        }
      }
    }
  
    #menuToggle {
  
      background: none;
      width: 44px;
      height: 44px;
      padding: 0px;
  
      .wrapper_line {
       
      }
    
      .line_button {
       
      }
    
      span {
      }
    }

    .menu-toggle.is-active {
      .wrapper_line {
        transform: rotate(45deg) translate(5px,5px);
      }
  
      .line_button {
        background-color: #000000;
      }
  
      .line_button {
        &:nth-child(2) {
          opacity: 0;
        }
      }
  
      .line_button {
        &:nth-child(1) {
          transform: translate(2px,12px);
        }
      }
  
      .line_button {
        &:nth-child(3) {
          transform: translate(2px, -10px) rotate(90deg);
        }
      }
  
      span {
        opacity: 0;
        transform: translateX(-100%);
        transition: opacity 0.3s ease-out;
      }
      
  }

  #menuContainer {
  
    #menuContent {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .wrapper_menu {
      padding-top: 112px;
    }
}

a.languages {
  display: flex;
  font-family: Gilroy;
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: -0.25px;
  vertical-align: middle;
  color: #fff;
  flex-direction: row;
  gap: 3px;
  padding: 13px 16px;

  svg {
    rotate: 90deg;
  }
}

.heading_address {
  h2 {
    font-size: 32px;
    line-height: 140%;
  }
  h3 {
    font-size: 24px;
  }

  > div {
    margin-top: 24px;
    row-gap: 12px;
    column-gap: 23px;
    flex-direction: row;

    h4 {
      font-size: 18px;
      line-height: 28px;
    }

    .line_space {
      rotate: 90deg;
      width: 24px;
    }

    a {
      font-size: 18px;
      line-height: 140%;
    }
  }

  >p {
    font-size: 18px;
    line-height: 28px;
    margin-top: 8px;
  }


}
.apartment {
  margin-bottom: 60px;
}

.amennities {
  width: 100%;
  align-items: center;
  >p {
    font-size: 22px;
    line-height: 140%;
    max-width: 954px;
    margin: 0 auto;
  }

  .grid {
    column-gap: 32px;
    width: 100%;
    max-width: 1194px;
    justify-content: space-between;
  }
}


.list_rooms {
  // display: grid;
  // gap: 24px;
  // justify-content: center;
  row-gap: 24px;

  .item_room {
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    min-height: 560px;
    min-width: 560px;
    padding: 0px 24px 32px 24px;

    h3 {
      font-size: 32px;
      line-height: 100%;
      letter-spacing: 2.2px;
    }
    p.size {
      // font-family: Manrope;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 1.25px;
    }
    .sub_amenities {
      gap: 20px 16px;
      padding: 0px 14px;
      .item_ {
        row-gap: 8px;
        .item-image {
          width: 32px;
          height: 32px;
          img {
            // filter: invert(1);
            width: 100%;
          }
        }

        p.item-text {
        font-size: 14px;
        line-height: 140%;
        letter-spacing: 1.25px;
        }
       

      }
    }
    .room_image {
      z-index: -2;
      img {
        object-position: 43% center;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

   
  }
}

a.button_details {
  font-family: Gilroy;
  font-weight: 600;
  font-size: 18px;
  line-height: 140%;
  letter-spacing: 2px;
}

#roomSlider {
  padding-bottom: 84px;
}

.list_box_ {
  // display: flex;
  // flex-direction: row;
  // gap: 1rem;
  .box{
    color: #fff;
    min-height: 500px;
    min-width: 100%;
    position: relative;

    overflow: clip;

    &::before{
      content: "";
      position: absolute;
      inset: 0;
      z-index: -1;
      background: #00000080;

    }  

    .room_image {
      z-index: -2;
      img {
        position: absolute;
        object-position: center center;
        transform: translateY(-48%);
        width: 100%;
        height: 978px;
        object-fit: cover;
        scale: 1;
      }
    }

    h3.title {
      font-family: Gilroy;
      font-weight: 600;
      font-size: 32px;
      line-height: 140%;
      letter-spacing: 2.2px;
      text-align: center;
      vertical-align: middle;
      text-transform: uppercase;
   
    }

    p.description {
      font-family: Gilroy;
      font-weight: 500;
      font-size: 18px;
      line-height: 32px;
      letter-spacing: 1.25px;
      text-align: center;
      vertical-align: middle;

      max-width: 636px;

    }

    .a.button_details {
      font-family: Gilroy;
      font-weight: 600;
      font-size: 18px;
      line-height: 140%;
      letter-spacing: 2px;
      vertical-align: middle;

    }
  }
}

.wrapper_guest {
  display: flex;
  flex-direction: column;
  row-gap: 56px;
  position: relative;
  
  padding-bottom: 142px;

    .wrapper_button {
      bottom: 40px;
    }

  .list_guest {
    display: flex;
    column-gap: 70px;
  .box_guest {
    padding: 0px;
    .top_content {
      display: flex;
      flex-direction: column;
      row-gap: 9px;

      .name {
        font-family: Gilroy;
        font-weight: 500;
        font-size: 24px;
        line-height: 100%;
        letter-spacing: 1.25px;
        vertical-align: middle;

      }
      .list_star {
        display: flex;
        flex-direction: row;
        gap: 4px;
        img {
          width: 24px;
          height: 24px;
        }
      }

      p.date {
        font-family: Gilroy;
        font-weight: 500;
        font-size: 14px;
        line-height: 100%;
        letter-spacing: 1.25px;
        vertical-align: middle;
        color: #00000054;

      }
    }


    .content{
      p.content_title{
        font-family: Gilroy;
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 1.25px;
      }

      p.main_content {
        font-family: Gilroy;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 1.25px;
        color: #00000099;

      }

      a {
        font-family: Gilroy;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 1.25px;
        vertical-align: middle;
        text-decoration: underline;
        text-decoration-style: solid;
        text-decoration-offset: 0%;
        text-decoration-thickness: 0%;
        text-decoration-skip-ink: auto;

      }
    }

    .bottom_content {
      img {
        width: 24px;
        height: 24px;
        flex: 0;
      }

      .content_ft {
        font-family: Gilroy;
      font-weight: 500;
      font-size: 12px;
      line-height: 18px;
      letter-spacing: 1.25px;
      vertical-align: middle;
        span{
          color: #00000054;

        }
        a {
          color: #000000CC;

        }


      }
    }
  }
  }
}

.ss_directions {
  .top_direction {
    column-gap: 20px;
    .heading_address {
      h2 {
        font-family: Gilroy;
      font-weight: 600;
      font-size: 32px;
      line-height: 140%;
      letter-spacing: 2.2px;
      vertical-align: middle;
      text-transform: uppercase;
      text-align: start;
      span {
        display: block;
      }
      
      }
    }

    p {
      max-width: 442px;

      span {
        font-weight: 700;
        display: block;
      }
    }


    a.btn_open_map {
    display: none;
    }

    a.btn_get_direc {
      display: block;
     
    }
  }

  .map{
    width: 100%;
    height: 420px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.direction_ss {
  margin-bottom: 93px !important;
}

}

