@media (min-width: 550px) {

  .page_rooms {
   
  
    .amennities {
     .wrapper_amennities {
      display: flex;
      flex-direction: column;
      row-gap: 24px;
      .row {
        padding: 12px 20px;
        .list_item_amen {
          display: flex;
          flex-direction: row;
          gap:32px 35px;
          
          .item_amenities {
            flex: 1 1 0%;
            flex-basis: 25%;
            .item-text {
              text-align: center;
            }
          }
        }
      }
     }
    
    }
  }
  

}
@media (min-width: 650px) {
  .ctn_ig {
    margin-top: 130px;
  }

  .container_rooms {
    .list_rooms {
      .room-box {   
      .slider {
        max-height: 440px;
      }   
    
      .nav-button {
       
        &.prev {
          left: 25%;
        }
        
        &.next {
          right: 25%;
        
        }
    
      }
  
      .expand-button {
            top:unset;
            bottom: 24px;
            right: 34px;
            border: none;

          }
      }
    }
  
  }

  .container_rooms {
    .list_dining.list_rooms {
      .room-box {   
      .slider {
        max-height: 100%;
        height: 100% !important;
      }   
    
      .nav-button {
       
        &.prev {
          left: 25%;
        }
        
        &.next {
          right: 25%;
        
        }
    
      }
  
      .expand-button {
            top:unset;
            bottom: 24px;
            right: 34px;
            border: none;

          }
      }
    }
  
  }

  .container_facilities {
    .list_facilities {
      .room-box {
        .slider {
          height: 700px !important;
        }
      }
      .group_info {
        .list_info {
          p {
            margin-bottom: 20px !important;
          }
        }
      }
    }
  }

  .container_facilities .list_facilities .box_facilities .group_info .list_info .item {
    font-size: 24px;
    line-height: 120%;
    letter-spacing: 1.25px;
  }
  .container_facilities .list_facilities .box_facilities .group_info .title_des h2.title{
    font-family: Gilroy;
    font-weight: 600;
    font-size: 40px;
    line-height: 120%;
    letter-spacing: 2.2px;
    vertical-align: middle;
    text-transform: uppercase;
    
  }
  

}
@media (min-width: 768px) {
  .container_dining {
    max-width: 1512px !important;
    padding-left: 20px;
    padding-right: 20px;
  }

  .box_contact {
    max-width: 426px;
    margin: 0 auto;
  }

  .section_general {
    margin: 150px 0px;
 }

 .ctn_ig {
  margin-top: 0px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -70%);
  width: auto;
 }

 .hashtag {
  gap: 72px;
 }
.ss_gallery_home {
  margin-bottom: 270px;
}
 .ss_info {
  margin-top: 110px;
 }
  
     header.site-header {
      display: block;
      min-height: 112px;
      .wrapper_header {
        max-height: 100%;
        padding-top: 25px;
        padding-bottom: 25px;
        .inner_wrapper_header {
        }
        .logo_custom{
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
          margin: 0 auto;
          max-width: 180px;
          max-height: 72px;
        }
      }
    }
  
    #menuToggle {
  
      background: none;
      width: 44px;
      height: 44px;
      padding: 0px;
  
      .wrapper_line {
       
      }
    
      .line_button {
       
      }
    
      span {
      }
    }

    .menu-toggle.is-active {
      .wrapper_line {
        transform: rotate(45deg) translate(5px,5px);
      }
  
      .line_button {
        background-color: #000000;
      }
  
      .line_button {
        &:nth-child(2) {
          opacity: 0;
        }
      }
  
      .line_button {
        &:nth-child(1) {
          transform: translate(2px,12px);
        }
      }
  
      .line_button {
        &:nth-child(3) {
          transform: translate(2px, -10px) rotate(90deg);
        }
      }
  
      span {
        opacity: 0;
        transform: translateX(-100%);
        transition: opacity 0.3s ease-out;
      }
      
  }

  #menuContainer {
  
    #menuContent {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .wrapper_menu {
      padding-top: 112px;
    }
}

a.languages {
  display: flex;
  font-family: Gilroy;
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: -0.25px;
  vertical-align: middle;
  color: #fff;
  flex-direction: row;
  gap: 3px;
  padding: 13px 16px;

  svg {
    rotate: 90deg;
  }
}

.heading_address {
  h2 {
    font-size: 32px;
    line-height: 140%;
  }
  h3 {
    font-size: 24px;
  }

  > div {
    margin-top: 24px;
    row-gap: 12px;
    column-gap: 23px;
    flex-direction: row;

    h4 {
      font-size: 18px;
      line-height: 28px;
    }

    .line_space {
      rotate: 90deg;
      width: 24px;
    }

    a {
      font-size: 18px;
      line-height: 140%;
    }
  }

  >p {
    font-size: 18px;
    line-height: 28px;
    margin-top: 8px;
  }


}
.apartment {
  margin-bottom: 60px;
}

.amennities {
  width: 100%;
  align-items: center;
  >p {
    font-size: 22px;
    line-height: 140%;
    max-width: 954px;
    margin: 0 auto;
  }

  .grid {
    column-gap: 32px;
    width: 100%;
    max-width: 1194px;
    justify-content: space-between;
  }
}


.list_rooms {
  // display: grid;
  // gap: 24px;
  // justify-content: center;
  row-gap: 24px;

  .item_room {
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    min-height: 560px;
    min-width: 560px;
    padding: 0px 24px 32px 24px;

    h3 {
      font-size: 32px;
      line-height: 100%;
      letter-spacing: 2.2px;
    }
    p.size {
      // font-family: Manrope;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 1.25px;
    }
    .sub_amenities {
      gap: 20px 16px;
      padding: 0px 14px;
      .item_ {
        row-gap: 8px;
        .item-image {
          width: 32px;
          height: 32px;
          img {
            // filter: invert(1);
            width: 100%;
          }
        }

        p.item-text {
        font-size: 14px;
        line-height: 140%;
        letter-spacing: 1.25px;
        }
       

      }
    }
    .room_image {
      z-index: -2;
      img {
        object-position: 43% center;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

   
  }
}

a.button_details {
  font-family: Gilroy;
  font-weight: 600;
  font-size: 18px;
  line-height: 140%;
  letter-spacing: 2px;
}

#roomSlider {
  padding-bottom: 84px;
}

.list_box_ {
  // display: flex;
  // flex-direction: row;
  // gap: 1rem;
  .box{
    color: #fff;
    min-height: 500px;
    min-width: 100%;
    position: relative;

    overflow: clip;

    &::before{
      content: "";
      position: absolute;
      inset: 0;
      z-index: -1;
      background: #00000080;

    }  

    .room_image {
      z-index: -2;
      img {
        position: absolute;
        object-position: center center;
        transform: translateY(-48%);
        width: 100%;
        height: 978px;
        object-fit: cover;
        scale: 1;
      }
    }

    h3.title {
      font-family: Gilroy;
      font-weight: 600;
      font-size: 32px;
      line-height: 140%;
      letter-spacing: 2.2px;
      text-align: center;
      vertical-align: middle;
      text-transform: uppercase;
   
    }

    p.description {
      font-family: Gilroy;
      font-weight: 500;
      font-size: 18px;
      line-height: 32px;
      letter-spacing: 1.25px;
      text-align: center;
      vertical-align: middle;

      max-width: 636px;

    }

    .a.button_details {
      font-family: Gilroy;
      font-weight: 600;
      font-size: 18px;
      line-height: 140%;
      letter-spacing: 2px;
      vertical-align: middle;

    }
  }
}

.wrapper_guest {
  display: flex;
  flex-direction: column;
  row-gap: 56px;
  position: relative;
  
  padding-bottom: 142px;

    .wrapper_button {
      bottom: 40px;
    }

  .list_guest {
    display: flex;
    column-gap: 70px;
  .box_guest {
    padding: 0px;
    .top_content {
      display: flex;
      flex-direction: column;
      row-gap: 9px;

      .name {
        font-family: Gilroy;
        font-weight: 500;
        font-size: 24px;
        line-height: 100%;
        letter-spacing: 1.25px;
        vertical-align: middle;

      }
      .list_star {
        display: flex;
        flex-direction: row;
        gap: 4px;
        img {
          width: 24px;
          height: 24px;
        }
      }

      p.date {
        font-family: Gilroy;
        font-weight: 500;
        font-size: 14px;
        line-height: 100%;
        letter-spacing: 1.25px;
        vertical-align: middle;
        color: #00000054;

      }
    }


    .content{
      p.content_title{
        font-family: Gilroy;
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 1.25px;
      }

      p.main_content {
        font-family: Gilroy;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 1.25px;
        color: #00000099;

      }

      a {
        font-family: Gilroy;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 1.25px;
        vertical-align: middle;
        text-decoration: underline;
        text-decoration-style: solid;
        text-decoration-offset: 0%;
        text-decoration-thickness: 0%;
        text-decoration-skip-ink: auto;

      }
    }

    .bottom_content {
      img {
        width: 24px;
        height: 24px;
        flex: 0;
      }

      .content_ft {
        font-family: Gilroy;
      font-weight: 500;
      font-size: 12px;
      line-height: 18px;
      letter-spacing: 1.25px;
      vertical-align: middle;
        span{
          color: #00000054;

        }
        a {
          color: #000000CC;

        }


      }
    }
  }
  }
}

.ss_directions {
  .top_direction {
    column-gap: 20px;
    .heading_address {
      h2 {
        font-family: Gilroy;
      font-weight: 600;
      font-size: 32px;
      line-height: 140%;
      letter-spacing: 2.2px;
      vertical-align: middle;
      text-transform: uppercase;
      text-align: start;
      span {
        display: block;
      }
      
      }
    }

    p {
      max-width: 442px;

      span {
        font-weight: 700;
        display: block;
      }
    }


    a.btn_open_map {
    display: none;
    }

    a.btn_get_direc {
      display: block;
     
    }
  }

  .map{
    width: 100%;
    height: 420px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.direction_ss {
  margin-bottom: 93px !important;
}

.page_rooms {
  .heading_address
  
  {
    display: flex;
    flex-direction: column;
    row-gap: 70px;
    p {
      font-family: Andada Pro;
      font-weight: 500;
      font-size: 16px;
      line-height: 140%;
      letter-spacing: 0px;
      text-align: center;
      vertical-align: middle;

      margin-top: 0px;

    }
  }

  .amennities {
    display: flex;
    flex-direction: column;

    .row {
      .grid {
        grid-template-columns: repeat(2, minmax(0, 1fr));
        gap: 35px 32px;
        .item_amenities {
          width: 130px;
        }
      }
    }
   h3 {
    font-family: Gilroy;
    font-weight: 600;
    font-size: 24px;
    line-height: 140%;
    letter-spacing: 2.2px;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
   }

   .wrapper_amennities {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    .row {
      padding: 12px 24px;
      .list_item_amen {
        display: flex;
        flex-direction: row;
        gap:36px 32px;
        .item_amenities {
          flex: 1 1 0%;
          flex-basis: 11.28%;
          display: flex;
          flex-direction: column;
          align-items: center;
          max-width: 154px;
  
          .item-text {
            text-align: center;
          }
        }
      }
    }
   }
  
  }
}

.ss_room_include {
  // margin: 163px 0px !important;
}

.ss_details_info {
  .ctn {
    max-width: 1360px !important;
  }
}
.container_rooms {

  .list_rooms {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 120px 32px ;
    .room-box {   
    .slider {
      height: 440px;
    }   
  
    .nav-button {
     
      &.prev {
        left: 25%;
      }
      
      &.next {
        right: 25%;
      
      }
  
    }

    .expand-button {
          top:unset;
          bottom: 24px;
          right: 34px;
          border: none;
          width: 40px;
          height: 40px;
          cursor: pointer;
          z-index: 2;
        }
    }
  }

}

.room_detail {
  .box_info {
    max-width: 648px;

    .list_amenities {
      gap: 32px 24px;
     
     }
  }
  
}

.box_text_icon_ame {
  width: 100%;
} 


.list_dining {
  .box_dining {
    color: #363636;
    .item_onlyImage {

    }

    .group_info {
      .title_des {
      h2.title {
        font-family: Gilroy;
        font-weight: 600;
        font-size: 32px;
        line-height: 120%;
        letter-spacing: 2.2px;
        vertical-align: middle;
        text-transform: uppercase;
         margin-bottom: 18px;
        }

        p.description {
          font-family: Gilroy;
          font-weight: 500;
          font-size: 18px;
          line-height: 32px;
          letter-spacing: 1px;
          text-align: justify;
          vertical-align: middle;
          color: #00000080;
        }
      }

      .list_info {

        .item {
          font-family: Gilroy;
          font-weight: 600;
          font-size: 18px;
          line-height: 120%;
          letter-spacing: 1.25px;
          vertical-align: middle;
          p {
            font-weight: 700;

          }
        }

      }

      a.button_details {
        font-family: Gilroy;
        font-weight: 600;
        font-size: 20px;
        line-height: 140%;
        letter-spacing: 2px;
        vertical-align: middle;
        
        color: #363636;
        border-bottom: 1px solid #000000;
        padding: 4px 0px;
        text-transform: uppercase;
      }
    }
  }
}

.container_rooms {

  .list_dining.list_rooms {
     grid-template-columns: repeat(1,minmax(0,1fr)) !important;
    .room-box {
    
     .slider {
       height: auto;
       position: relative;
       overflow: hidden;
       &::before{
         content: none !important;
       } 
        
     }
   
     button {
       z-index: 2;
     }
     
     .slides-container {
       height: 100% !important;
     }
   }
 }
 }

 .list_taste {
  .box_taste {
    .box_info {
      row-gap: 42px;
      h2.title {
        font-family: Gilroy;
        font-weight: 600;
        font-size: 36px;
        line-height: 160%;
        letter-spacing: 2.2px;
        text-transform: uppercase;
        
        } 
      }
    
      p.description {
        font-family: Gilroy;
        font-weight: 500;
        font-size: 18px;
        line-height: 28px;
        letter-spacing: 1px;
        text-align: justify;
        vertical-align: middle;
        
    
    
      }
      .container_rooms {
        max-width: 759px;
      .list_rooms{
        .box_dining {
          .item_room {
            min-height: 620px !important;
          }
        }
      }
    }
    }

    


  
}



 .layout_3 {


  .item {
    height: 460px;
    padding: 32px 50px;
    h3.title {
      font-family: Gilroy;
        font-weight: 600;
        font-size: 24px;
        line-height: 110%;
        letter-spacing: 1.25px;
        text-align: center;
        vertical-align: middle;

        color: white;

    }
  }
}
 .title_subtitle {
  max-width: 1048px !important;
  >p.name {
    font-family: Gilroy;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 1.25px;
    text-align: center;
    vertical-align: middle;
    color: #00000080;

  }
  h1.title {
    font-family: Gilroy;
    font-weight: 600;
    font-size: 40px;
    line-height: 160%;
    letter-spacing: 2.2px;
    text-align: center;
    text-transform: uppercase;
    color: #363636;

  }
  h2.title {
    font-family: Gilroy;
    font-weight: 600;
    font-size: 32px;
    line-height: 140%;
    letter-spacing: 2.2px;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;

    color: #363636;

  }

  .description {
    font-family: Andada Pro;
    font-weight: 500;
    font-size: 18px;
    line-height: 140%;
    letter-spacing: 0px;
    text-align: center;
    vertical-align: middle;
    max-width: 954px;

    color: #000000B2;

  }
}

#SliderTaste {
  .splide__pagination {
    bottom: 55px;
  }
  .splide__track {
    height: 800px;

    .splide_slide {
      height: 100%;
    }
  }
  .slider_taste {
    .img_ {
      z-index: -2;
      position: absolute;
      inset: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      img {
        object-position: 43% center;
        width: 100%;
        height: 100%;
        z-index: -2;
        object-fit: cover;
      }
      &:before {
        content: "";
        position: absolute;
        inset: 0;
        z-index: 0;
        background: #00000059;
      }
    }
  }
 
  .wrapper_ {
    position: relative;
    height: 100%;
    padding: 20px;
   

    p.content_ {
      font-size: 28px;
      line-height: 40px;
      letter-spacing: 0px;
      text-align: center;

      max-width: 935px;
      z-index: 3;

    }
  }

  .wrapper_ctrl {
    position: absolute;
    bottom: 36px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 52px;
    max-width: 336px;
      display: flex;
      flex-direction: row;
      // column-gap: 232px;
      justify-content: center;
    .nav-button {
      bottom: 0px;
   
      &.prev {
        // left: 40%;
        // transform: translateX(50%);
      }
      &.next {
        // right: 40%;
        // transform: translateX(50%);

      }
    }
  }
  
}


}



